<div style=" margin-left: 3em; display: inline-flex">

  <div style="width: 30%; border: dotted">
    <div style="margin: 1em">
      <%= label_tag 'Проверить есть ли у вас возможность получить гражданство США' %>

      <br>
      Внимательно отвечайте на вопросы и мы вам ответим, есть ли у вас возможность получитъ грагданство США.

      <span style="position: relative; top: 4.8em">
        <%= button_to 'начать', n400_questionnaire_path, class: 'btn btn-sm btn-success' %>
      </span>
      <!--<div>-->
      <!--<%= link_to n400_questionnaire_path do %>-->
          <!--
        <% image_tag 'n400.jpg', size: '150x100' %>-->
          <!--
    <% end %>-->
      <!--</div>-->
    </div>
  </div>

  <div style="width: 30%; border: dotted; margin-left: 2em">
    <div style="margin: 1em">
      <%= label_tag 'Подготовиться к тесту на гражданство США' %>
      <br>
      Для успешной сдачи теста необходимо правильно ответить хотя бы на 6 из 10 вопросов об истории и устройстве США.
      <br>
      Но наш тренер создан так, что он не принимает неправильные ответы и предлагает повторить попытку.

      <span style="position: relative; top: 2em">
        <%= button_to 'начать', n400_trainer_path, class: 'btn  btn-sm btn-success' %>
      </span>
      <!--<div>-->
      <!--<%= link_to n400_trainer_path do %>-->
          <!--
          <% image_tag 'n400.jpg', size: '150x100' %>-->
          <!--
      <% end %>-->
      <!--</div>-->
      <br>
      <br>
    </div>
  </div>

  <!--<div>-->
  <!--<%= label_tag 'Проверка права подачи на гражданство США' %>-->
  <!--<div>-->
  <!--<%= link_to n400_questionnaire_path do %>-->
      <!--
      <% image_tag 'n400.jpg', size: '150x100' %>-->
      <!--
  <% end %>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div>-->
  <!--<%= label_tag 'Подготовка к тесту на гражданство США' %>-->
  <!--<div>-->
  <!--<%= link_to n400_trainer_path do %>-->
      <!--
      <% image_tag 'n400.jpg', size: '150x100' %>-->
      <!--
  <% end %>-->
  <!--</div>-->
  <!--</div>-->

</div>