<!--<h1 style="text-align: center">N-400</h1>-->

<% if @form_completed %>
    <div class="alert alert-success" style="text-align: center">
      <h2>Form is completed!</h2>
    </div>

    <!--<a href="https://docs.google.com/gview?url=<%= Dir.pwd + '/lib/completed/filled_form.pdf' %>&embedded=true">Your Pdf Viewer</a>-->

    <!--<embed src="/lib/assets/completed/filled_form.pdf" width="1000" height="675" type='application/pdf'>-->
    <div style="margin-left: 10em; margin-top: 3em">
      <p>Now you need to :</p>
      <%= form_for forms_n400_path do %>
          <p>1. <%= submit_tag 'Download PDF' %></p>
          <p>2. Print it</p>
          <p>3. Sign it</p>
          <p>4. Mail it to PO BOX Immigration</p>
      <% end %>
    </div>
<% else %>
    <br>
    <h3 style="text-align: center">Enter your info:</h3>
    <div style="display: inline-flex; position: relative; left: 10%" class="form-group">

      <%= form_for 'forms/n400' do %>
          <div style="margin-top: 0.5em">
            <label for="a_number">Enter your Alien number</label>
            <%= text_field_tag :a_number, nil, class: 'form-control' %>
          </div>
          <div style="margin-top: 0.5em">
            <label for="first_name">Enter your First Name</label>
            <%= text_field_tag :first_name, nil, class: 'form-control' %>
          </div>
          <div style="margin-top: 0.5em">
            <label for="last_name">Enter your Last Name</label>
            <%= text_field_tag :last_name, nil, class: 'form-control' %>
          </div>
          <div style="margin-top: 0.5em">
            <label for="last_name">Enter your First Name as it appears in your Green Card</label>
            <%= text_field_tag :gc_first_name, nil, class: 'form-control' %>
          </div>
          <div style="margin-top: 0.5em">
            <label for="last_name">Enter your Last Name as it appears in your Green Card</label>
            <%= text_field_tag :gc_last_name, nil, class: 'form-control' %>
          </div>
          <div style="margin-top: 2em">
            <%= submit_tag 'Submit', class: 'btn btn-success btn-lg' %>
          </div>
      <% end %>
    </div>
<% end %>
