<div>
  <% if @eligible.nil? %>
      <h2 style="text-align: center">Eligibility Questionnaire</h2>
      <br>
      <br>
      <h4 style="text-align: center">Have you killed anyone recently?</h4>
      <div style="display: inline-flex; position: relative; left: 45%">
        <%= form_for 'forms/n400' do %>
            <div class="input-group space" style="margin-top: 0.5em; font-size: large">
              Yes <%= radio_button_tag :killer, 'Yes' %>
              No <%= radio_button_tag :killer, 'No' %>
            </div>
            <div class="input-group space" style="margin-top: 3em">
              <%= submit_tag 'Submit', class: 'btn btn-success btn-lg' %>
            </div>
        <% end %>
      </div>
  <% else %>
      <% if @eligible %>
          <div class="alert alert-success" style="text-align: center">
            <h2>Congratulations!</h2>
            <h3>You're eligible to apply for citizenship.</h3>
            <br>
            <%= form_for 'forms' do %>
                <%= submit_tag 'Start application', class: 'btn btn-info' %>
            <% end %>
          </div>
      <% else %>
          <div class="alert alert-danger" style="text-align: center">
            <h2>Ooops!</h2>
            <h3>You're NOT eligible to apply for citizenship.</h3>
          </div>
      <% end %>
  <% end %>
</div>